.material-icons.md-48 {
    font-size: 36px;
  }

.material-icons {
    display: inline;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

   button {
    height: 48px;
    width: 48px;
  }
}