<nav>
  <div class="navbar">
    <button mat-raised-button type="submit" (click)="infoTable()">
      <mat-icon class="md-48">info_outlined</mat-icon>
    </button>
    <button mat-raised-button type="submit" (click)="selectPieChart()">
      <mat-icon class="md-48">pie_chart_outlined</mat-icon>
    </button>
    <button mat-raised-button type="submit" (click)="selectBarChart()">
      <mat-icon class="md-48">bar_chart_outlined</mat-icon>
    </button>
    <button mat-raised-button type="submit" (click)="selectLineChart()">
      <mat-icon class="md-48">multiline_chart_outlined</mat-icon>
    </button>
    <button mat-raised-button type="submit" (click)="selectPolarChart()">
      <mat-icon class="md-48">bubble_chart_outlined</mat-icon>
    </button>
    <button mat-raised-button type="submit" (click)="selectAllCharts()">
      <mat-icon class="md-48">all_inclusive</mat-icon>
    </button>
  </div>
</nav>
<ng-container>
  <h1>{{type | titlecase}}</h1>
</ng-container>
<div *ngIf="type === 'info'">
  <p>{{ weather$ | async | json }}</p>
</div>

<!-- needs to check for !== info else it renders empty canvas -->
<div *ngIf="type !== 'info'">
  <canvas id={{type}}>{{ type }}</canvas>
</div>