/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.content {
  text-align: center;
  padding: 2vh 15vw;
}

body {
  font-family: 'sofia-pro', sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

ul {
  list-style: none !important;
  padding: 0 !important;
}